{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Profile Page{% endblock %}
{% block content %}

<div class="form-group">
    <form method="post" enctype="multipart/form-data">
        <form id="avatar_form" name="avatar_form" enctype="multipart/form-data" method="post"></form>>
            {% csrf_token %}
           <div class="profile-pic-container">
                <label for="id_avatar" class="profile-pic-label">
                    <img src="{{{% static 'images/baymax.jpeg' %}}}" alt="Profile Picture"
                    class="profile-pic">
                    <div class="change-image-overlay">
                        <span class="bi bi-image-fill"></span>
                        <span class="change-image-text">Change Image</span>
                    </div>
                </label>
                <input type="file" name="avatar" accept="image/*" id="id_avatar" class="file-input" value="{{avatar}}">
            </div> 
        </form>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Güncelle</button>
    </form>
{% endblock %}