{% extends "base.html" %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Profile</h5>
          <p class="card-text">Kişi Bilgileriniz..</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><p>Username: {{ user.username }}</p></li>
            <li class="list-group-item"><p>First Name: {{ user.first_name }}</p></li>
            <li class="list-group-item"><p>Last Name: {{ user.last_name }}</p></li>
            <li class="list-group-item"><p>Email: {{ user.email }}</p></li>
        </ul>
        <div class="card-body">
            <a class="btn btn-outline-secondary" href="{%url 'home' %}" role="button">Geri</a>
            {% comment %} {% if request.user.id == profile.user.id %} {% endcomment %}
            <!--Check for correct user--> 
            <a href="{% url 'update_profile' %}" class="btn btn-outline-primary">Update Profile</a>
            {% comment %} {% endif %} {% endcomment %}
        </div>
    </div>
</body>
</html>

{%endblock%}